<section id="{{idvalue}}" class="default-page__basic-copy">
    <div class="row align-center">
        <div class="column small-12 medium-11">
            {{fancySquare_block.wysiwyg}}
        </div>
    </div>

</section>