<section id="{{idvalue}}" class="default-page__form">
    <div class="row align-center">
        <div class="column small-12 medium-11">
            {% filter shortcodes %}
                [gravityform id="{{fancySquare_block.form_id}}" title="false" description="false" ajax="true"]
            {% endfilter %}
        </div>
    </div>
</section>