{% if fancySquare_block.is_it_internal_or_external %}
    {% set ctaLink = fancySquare_block.external_link %}
{% else %}
    {% set ctaLink = fancySquare_block.page_link %}
{% endif %}

<section id="{{idvalue}}" class="default-page__cta">
    <div class="row align-center">
        <div class="column">
            <a class="button-type--main button-type--black button-type--wide" href="{{ctaLink}}" {% if fancySquare_block.is_it_internal_or_external %}target="_blank"{% endif %}>
                {{fancySquare_block.button_text}}
            </a>
        </div>
    </div>
</section>