<section id="{{idvalue}}" class="default-page__enhanced-intro">
    <div class="row align-center">
        <div class="column small-12 medium-6 medium-order-2 medium-offset-1">
            {{fancySquare_block.content_right}}
        </div>
        <div class="column small-12 medium-4 text-center medium-order-1">
            {% set image = TimberImage(fancySquare_block.image_left) %}
            <img src="{{image.src}}" alt="{{image.alt}}">
        </div>
    </div>
</section>