{% set fullImage = TimberImage(fancySquare_block.image) %}

{% if fancySquare_block.normal_bottom_spacing %}
   {% set normalSpacing = 'default-page__img--normal' %} 
{% endif %}
<section id="{{idvalue}}" class="default-page__full default-page__img {{normalSpacing}}">
    <div class="row align-center">
        <div class="column">
            <img class="picture" data-interchange="[{{fullImage.src}}, small], [{{fullImage.src}}, retina]" alt="{{fullImage.alt}}">
        </div>
    </div>
</section>