<section id="{{idvalue}}" class="default-page__img-centered">
    <div class="row align-center">
        <div class="column small-12 medium-11 text-center">
            {% set image = TimberImage(fancySquare_block.image) %}
            <img src="{{image.src}}" alt="{{image.alt}}">
        </div>
    </div>
</section>