{% set leftImage = TimberImage(fancySquare_block.image_left) %}
{% set rightImage = TimberImage(fancySquare_block.image_right) %}
{% if fancySquare_block.normal_bottom_spacing %}
   {% set normalSpacing = 'default-page__img--normal' %} 
{% endif %}

<section id="{{idvalue}}" class="default-page__left-right-img default-page__img {{normalSpacing}}">
    <div class="row align-center">
        <div class="column">
            <img data-interchange="[{{leftImage.src | resize(590,590)}}, small], [{{leftImage.src}}, retina]" alt="{{leftImage.alt}}">               
        </div>

        <div class="column">
            <img data-interchange="[{{rightImage.src | resize(590,590)}}, small], [{{rightImage.src}}, retina]" alt="{{rightImage.alt}}">
        </div>
    </div>
</section>