
<section id="{{idvalue}}" class="default-page__team-members">
        
    <div class="row align-center">
        
        {% for person in fancySquare_block.team_list %}
            {% set picture = TimberImage(person.get_field('profile_pic')) %}
            <div class="column small-12 medium-6">
                <img class="picture" data-interchange="[{{picture.src | resize(590,590)}}, small], [{{picture.src}}, retina]" alt="{{person.title}}">
                
                <h2 class="name">
                    {{person.title}}
                </h2>

                <div class="bio">
                    {{person.content}}
                </div>
            </div>

        {% endfor %}

    </div>
    
</section>