{% set vidPoster = TimberImage(fancySquare_block.video_poster).src %}
{% if fancySquare_block.normal_bottom_spacing %}
   {% set normalSpacing = 'default-page__video--normal' %} 
{% endif %}

<section id="{{idvalue}}" class="default-page__video {{normalSpacing}}">
    <div class="row align-center">
        <div class="column vid-column">
            <div class="video-wrapper">
                <video width="640" height="360" style="width:100%;height:100%;" poster="{{vidPoster}}" controls="false" preload="none">     
                    <source src="{{fancySquare_block.video_url}}" type="video/vimeo" />
                </video>
            </div>
        </div>
    </div>
</section>