{% extends "templates/base.twig" %}

{% block content %}

    <main class="home-layout">
        
        {% for post in posts %}
    
            <section class="home-layout__intro">

                <div class="row align-justify align-middle">

                    {% if post.get_field('slider_home_intro') %}
                        
                        <div class="owl-carousel owl-theme owl-carousel--intro">
                            {% for introSlide in post.get_field('slider_home_intro') %}
                                {% set introImage = TimberImage(introSlide.image) %}
                                <div class="item" data-interchange="[{{introImage.src | resize(1024,768)}}, small], [{{introImage.src}}, large]">
                                    <div class="column medium-12 content-block">
                                        {{introSlide.content}}
                                    </div>
                                    
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        
                        <div class="column medium-4 content-block">
                            {{post.get_field('content_left')}}
                        </div>
                        <div class="column medium-12 image-block text-right">
                            {% set introImage = TimberImage(post.image_right) %}
                            <img src="{{introImage.src}}" alt="{{introImage.alt}}">
                            <span>
                                {{introImage.caption}}    
                            </span>
                        </div>

                    {% endif %}


                </div>

            </section>

            <section class="home-layout__about">
                <div class="row align-center">
                    <div class="column small-12 medium-10 large-10">
                        {{post.get_field('content_about')}}
                    </div>
                </div>
            </section>

            <section class="home-layout__focus">
                <div class="row" data-equalizer data-equalize-on="medium" data-equalize-on-stack="true">
                    {% for focus in post.get_field('focus_list') %}
                        
                        <div class="column small-12 medium-3">
                            {% set icon = TimberImage(focus.icon) %}
                            <div class="icon" data-equalizer-watch>
                                <img src="{{icon.src}}" alt="{{icon.alt}}">
                            </div>
                            <h2>
                                {{focus.title}}
                            </h2>
                            <p>
                                {{focus.description}}
                            </p>
                        </div>

                    {% endfor %}
                </div>

                <div class="row">
                    <div class="column">
                        <a class="button-type--main" href="{{post.get_field('button_link_aof')}}">
                            {{post.button_text_aof}}
                        </a>
                    </div>
                </div>
            </section>
            
            {% set testimonialBG = TimberImage(post.get_field('bg_image_test')) %}
            <section class="home-layout__testimonials" style="background-image: url({{testimonialBG}});">

                <div class="row align-middle">
                    <div class="column">
                        <div class="owl-carousel owl-theme owl-carousel--testimonial">
            
                            {% for testimonial in post.get_field('testimonials') %}	
                                <div class="item">
                                    {{testimonial.content}}

                                    <p class="byline">
                                        {{testimonial.byline}}
                                        {% if testimonial.company__organization__etc %}
                                           <br/> -  {{testimonial.company__organization__etc}}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endfor %}
            
                        </div>
                    </div>
                </div>

            </section>

            <section class="home-layout__case-study">
                <div class="row align-center intro">
                    <div class="column small-12 medium-10 large-11">
                        {{post.get_field('intro_cs')}}
                    </div>
                </div>

                <div class="row retina">
                    {% for projects in post.get_field('featured_case_studies') %}	
                        <div class="column small-12 medium-6">
                            {% set teaserImage = TimberImage(projects.get_field('teaser_image')) %}
                            <a href="{{projects.link}}">
                                <img src="{{teaserImage.src}}" alt="{{teaserImage.alt}}">
                                <span class="info">
                                    <span class="title">
                                        {{projects.title}}
                                    </span>
                                    <span class="type">
                                        {% for term in projects.terms %}
                                            {{term.name}}
                                        {% endfor %}
                                    </span>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>

        {% endfor %}

    </main>

{% endblock %}