{% extends "base.twig" %}

{% block content %}

    <main class="default-page default-page--blog">
        

            <header class="default-page__header">
                <h1>
                    {% if function('is_home') %}
                        {% autoescape %}
                            Blog
                        {% endautoescape %}
                    {% else %}
                        {% autoescape %}
                            Archive
                        {% endautoescape %}
                    {% endif %}
                </h1>
                {% for post in posts %}
                    <img class="featured-img" data-interchange="[{{post.thumbnail | resize(768, 350)}}, small], [{{post.thumbnail | resize(1200, 425)}}, medium], [{{post.thumbnail | resize(1920, 667)}}, large], [{{post.thumbnail}}, xxlarge]" alt="{{post.thumbnail.alt}}">
                {% endfor %}
            </header>

            {% for post in posts %}

                {% include "blocks/content.twig" with {post: post}  %}

            {% endfor %}

       
    </main>

{% endblock %}
