{% extends "templates/base.twig" %}

{% block content %}

    <main class="default-page">
        {% for post in posts %}

            <header class="default-page__header">
                <h1>
                    {% if post.override_page_title %}
                        {{post.override_page_title}}
                    {% else %}
                        {{post.title}}
                    {% endif %}
                </h1>
                <img class="featured-img" data-interchange="[{{post.thumbnail | resize(768, 350)}}, small], [{{post.thumbnail | resize(1200, 425)}}, medium], [{{post.thumbnail | resize(1920, 667)}}, large], [{{post.thumbnail}}, xxlarge]" alt="{{post.thumbnail.alt}}">
            </header>

            {# start builder #}
	        {% include 'blocks/building-blocks.twig'  %}
            {# end builder #}

        {% endfor %}
    </main>

{% endblock %}