{% extends "templates/base.twig" %}

{% block content %}

    <main class="default-page">
        {% for post in posts %}

            <header class="default-page__header">
                <h1>
                    {% if post.override_page_title %}
                        {{post.override_page_title}}
                    {% else %}
                        {{post.title}}
                    {% endif %}
                </h1>
                <img class="featured-img" data-interchange="[{{post.thumbnail | resize(768, 350)}}, small], [{{post.thumbnail | resize(1200, 425)}}, medium], [{{post.thumbnail | resize(1920, 667)}}, large], [{{post.thumbnail}}, xxlarge]" alt="{{post.thumbnail.alt}}">
            </header>

            {# start builder #}
	        {% include 'blocks/building-blocks.twig'  %}
            {# end builder #}

            <section class="home-layout__case-study home-layout__case-study--work">

                <div class="row retina">
                    {% for projects in projectPosts %}	
                        <div class="column small-12 medium-6">
                            {% set teaserImage = TimberImage(projects.get_field('teaser_image')) %}
                            <a href="{{projects.link}}">
                                <img src="{{teaserImage.src}}" alt="{{teaserImage.alt}}">
                                <span class="info">
                                    <span class="title">
                                        {{projects.title}}
                                    </span>
                                    <span class="type">
                                        {% for term in projects.terms %}
                                            {{term.name}}
                                        {% endfor %}
                                    </span>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>

        {% endfor %}
    </main>

{% endblock %}