{# start builder #}
{% for fancySquare_block in post.get_field('content_type') %}
    {% set idValue = loop.index %}

    {% if fancySquare_block.acf_fc_layout == 'basic_content' %}

        {% include 'partials/basic-content.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'team_members' %}

        {% include 'partials/team-members.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'call_to_action' %}

        {% include 'partials/cta.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'left_right_images' %}

        {% include 'partials/left-right-img.twig'  %}
    
    {% elseif fancySquare_block.acf_fc_layout == 'full_width_image' %}

        {% include 'partials/full-width-img.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'video_block' %}

        {% include 'partials/video.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'form' %}

        {% include 'partials/contact-form.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'image_centered_no_crop' %}

        {% include 'partials/img-centered.twig'  %}

    {% elseif fancySquare_block.acf_fc_layout == 'enhanced_intro' %}

        {% include 'partials/enhanced-intro.twig'  %}

   
    {% endif %}
    
{% endfor %}
{# end builder #}