<article {{ function('post_class', 'row post-preview align-middle align-center') }}>
    <header class="column small-12 medium-5">
        <a href="{{ post.link }}">
            <img class="featured-img" data-interchange="[{{post.thumbnail | resize(768, 550)}}, small], [{{post.thumbnail | resize(700, 700)}}, medium], [{{post.thumbnail | resize(800, 800)}}, large]" alt="{{post.thumbnail.alt}}">
        </a>
    </header>
    <div class="entry-summary column small-12 medium-6">
        <h2 class="entry-title">
            <a href="{{ post.link }}">
                {{ post.title }}
            </a>
        </h2>
        {{ post.post_excerpt }}
        <br/>
        <br/>
        <a  class="button-type--main button-type--black" href="{{ post.link }}">
            {% autoescape %}
                Read More
            {% endautoescape %}
        </a>
    </div>
</article>