<footer id="footer" class="content-info {% if not function('is_front_page') %}not-home{% endif %}">
    
    {% if not function('is_front_page') %}
        {% set footerBG = TimberImage(options.bg_image_fcta).src %}
        <div class="call-to-action" data-interchange="[{{footerBG}}, small]">
            <h2>
                {{options.title_fcta}}
            </h2>
            <a class="button-type--main" href="{{options.page_link_fcta}}">
                {{options.button_text_fcta}}
            </a>
        </div>
    {% endif %}
    
    <div class="row">
        
        <div class="column small-12 medium-6">
            <ul class="social-list">
                {% for socialItem in options.social_networks %}
                    <li>
                        <a href="{{socialItem.url | e('esc_url')}}" traget="_blank">
                            {{socialItem.icon}}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="content">
                {{options.footer_misc}}

                <p>
                    &copy; {{ now|date('Y') }} by {{ bloginfo('name') }} | {% autoescape %}All rights reserved{% endautoescape %}
                </p>
            </div>
        </div>
        <div class="column small-12 medium-6 form-column">
            {% filter shortcodes %}
                [gravityform id="1" title="true" description="false" ajax="true"]
            {% endfilter %}
        </div>

    </div>
</footer>