<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ function('wp_head') }}

    <link rel="icon" type="image/jpeg" href="{{ theme.link }}/public/images/favicon.jpg" />
</head>
