<header class="header header--main">
    <div class="row">

        <div class="header__title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
            <a href="{{ site.url }}">
                <img src="{{ theme.link }}/public/images/logo.png" alt="{{ site.name }}">
            </a>
            <button class="menu-icon" type="button" data-toggle></button>
            {#<div class="header__title-bar-title">Menu</div>#}
        </div>
    
        <div class="header__top-bar" id="top-menu">
            {% block header %}
    
                {% include 'blocks/header-title.twig' %}
    
              
                {% include 'blocks/nav-primary.twig' with {menu: menu.get_items} %}
    
            {% endblock %}
        </div>
        
    </div>
</header>