{% if menu %}

	<div class="header__top-bar-right">
	    <ul class="header__dropdown-menu" data-dropdown-menu>
	        {% for item in menu %}
	            <li class="{{ item.classes | join(' ') }}">
					

					{% set newTab = item._menu_item_target %}
					
	                <a href="{{ item.get_link }}" {% if newTab %}target="_blank"{% endif %}>
	                	<span>
	                		{{ item.title }}
	                	</span>
	                </a>
	                {% include "blocks/nav-primary.twig" with {'menu': item.get_children} %}
	            </li>
	        {% endfor %}
	    </ul>
	</div>

{% endif %}
