.button-type {

    &--main {
        color: $white;
        border: 1px solid $white;
        font-size: rem-calc(25);
        font-family: 'Bebas Kai';
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        padding: 12px 25px;
        line-height: 1;
        letter-spacing: rem-calc(1.3);
        transition: color .35s ease-out, border-color .35s ease-out;
        &:hover {
            color: $brand-primary;
            border-color: $brand-primary;
        }
    }

    &--black {
        color: $black;
        border: 1px solid $black;
    }

    &--wide {
        min-width: 200px;
    }

}