//fonts go here
@font-face {
    font-family: 'Bebas Kai';
    src: url('../fonts/BebasKai.eot');
    src: url('../fonts/BebasKai.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasKai.woff2') format('woff2'),
        url('../fonts/BebasKai.woff') format('woff'),
        url('../fonts/BebasKai.ttf') format('truetype'),
        url('../fonts/BebasKai.svg#BebasKai') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Bold.eot');
    src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
        url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


%font-nav-link {
    color :$white;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: normal;
    font-size: rem-calc(15);
    text-transform: uppercase;
    transition: color .35s ease-out;
    &:hover {
        color: $brand-primary;
    }
    @include breakpoint(retina) {
        // CSS for high-resolution displays only 
        // font-size: rem-calc(30);
    }
}

%font-h1 {
    color: $white;
    font-size: rem-calc(72);
    font-family: 'Bebas Kai';
    font-weight: normal;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: rem-calc(4);
    @include breakpoint(retina) {
        // CSS for high-resolution displays only
        // font-size: rem-calc(144);
    }
    @include breakpoint(medium down){
        font-size: rem-calc(44);
    }
}

%font-h2 {
    color: $white;
    font-size: rem-calc(44);
    font-family: 'Bebas Kai';
    font-weight: normal;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: rem-calc(4);
    @include breakpoint(retina) {
        // CSS for high-resolution displays only
        // font-size: rem-calc(88);
    }
    @include breakpoint(medium down){
        font-size: rem-calc(30);
    }
}

%font-h3 {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: normal;
    font-size: rem-calc(22);
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: rem-calc(2);
}

%font-h4 {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: normal;
    font-size: rem-calc(15.6);
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: rem-calc(2);
}


%font-testimonial {
    color: $white;
    font-size: rem-calc(35);
    font-family: 'Bebas Kai';
    font-weight: normal;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: rem-calc(4);
    @include breakpoint(retina) {
        // CSS for high-resolution displays only
        // font-size: rem-calc(144);
    }
    @include breakpoint(medium down){
        font-size: rem-calc(25);
    }
}

%font-sub-title {
    color: $brand-primary;
    font-size: rem-calc(24);
    font-family: 'Bebas Kai';
    font-weight: normal;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: rem-calc(2);
    @include breakpoint(retina) {
        // CSS for high-resolution displays only
        font-size: rem-calc(48);
    }
}

%font-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: rem-calc(14);
    font-weight: normal;
    font-style: normal;
    letter-spacing: rem-calc(2);
}

%font-body-plus {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: normal;
    font-size: rem-calc(15.6);
    margin-bottom: 20px;
    letter-spacing: rem-calc(2);
}

// %font-enhanced {
//     font-family: 'Brandon Grotesque';
//     font-weight: bold;
//     font-style: normal;
// }

body {
    @extend %font-body;
    p {
        @extend %font-body;
    }
}

h1,h2,h3 {
    strong,b {
        color: $brand-primary;
        font-weight: normal;
    }
}