<section class="home-layout__about">
    <div class="row align-center">
        <div class="column small-12 medium-10 large-10">
            {{post.get_field('content_about')}}
        </div>
    </div>
</section>