<section class="home-layout__case-study">
    <div class="row align-center intro">
        <div class="column small-12 medium-10 large-11">
            {{post.get_field('intro_cs')}}
        </div>
    </div>

    <div class="row retina">
        {% for projects in post.get_field('featured_case_studies') %}	
            <div class="column small-12 medium-6">
                {% set teaserImage = TimberImage(projects.get_field('teaser_image')) %}
                <a href="{{projects.link}}">
                    <img src="{{teaserImage.src}}" alt="{{teaserImage.alt}}">
                    <span class="info">
                        <span class="title">
                            {{projects.title}}
                        </span>
                        <span class="type">
                            {% for term in projects.terms %}
                                {{term.name}}
                            {% endfor %}
                        </span>
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>