<section class="home-layout__focus">
    <div class="row" data-equalizer data-equalize-on="medium" data-equalize-on-stack="true">
        {% for focus in post.get_field('focus_list') %}
            
            <div class="column small-12 medium-3">
                {% set icon = TimberImage(focus.icon) %}
                <div class="icon" data-equalizer-watch>
                    <img src="{{icon.src}}" alt="{{icon.alt}}">
                </div>
                <h2>
                    {{focus.title}}
                </h2>
                <p>
                    {{focus.description}}
                </p>
            </div>

        {% endfor %}
    </div>

    <div class="row">
        <div class="column">
            <a class="button-type--main" href="{{post.get_field('button_link_aof')}}">
                {{post.button_text_aof}}
            </a>
        </div>
    </div>
</section>