<section class="home-layout__intro">

    <div class="row align-justify align-middle">

        {% if post.get_field('slider_home_intro') %}
            
            <div class="owl-carousel owl-theme owl-carousel--intro">
                {% for introSlide in post.get_field('slider_home_intro') %}
                    {% set introImage = TimberImage(introSlide.image) %}
                    <div class="item" data-interchange="[{{introImage.src | resize(1024,768)}}, small], [{{introImage.src}}, large]">
                        <div class="column medium-12 content-block">
                            {{introSlide.content}}
                        </div>
                        
                    </div>
                {% endfor %}
            </div>

        {% else %}
            
            <div class="column medium-4 content-block">
                {{post.get_field('content_left')}}
            </div>
            <div class="column medium-12 image-block text-right">
                {% set introImage = TimberImage(post.image_right) %}
                <img src="{{introImage.src}}" alt="{{introImage.alt}}">
                <span>
                    {{introImage.caption}}    
                </span>
            </div>

        {% endif %}


    </div>

</section>