{% set testimonialBG = TimberImage(post.get_field('bg_image_test')) %}
<section class="home-layout__testimonials" style="background-image: url({{testimonialBG}});">

    <div class="row align-middle">
        <div class="column">
            <div class="owl-carousel owl-theme owl-carousel--testimonial">

                {% for testimonial in post.get_field('testimonials') %}	
                    <div class="item">
                        {{testimonial.content}}

                        <p class="byline">
                            {{testimonial.byline}}
                            {% if testimonial.company__organization__etc %}
                                <br/> -  {{testimonial.company__organization__etc}}
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</section>