footer {
    background: $black;
    padding: 30px 0;
    &.not-home {
        padding-top: 0;
    }
    .social-list {
        margin: 0 0 20px;
        li {
            list-style: none;
            margin-left: 15px;
            display: inline-block;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            color: $brand-primary;
            transition: color .35s ease-out;
            font-size: rem-calc(20);
            &:hover {
                color: $white;
            }
        }
    }

    .content {
        a,p {
            color: $white;
            text-transform: uppercase
        }
        a {
            transition: color .35s ease-out;
            &:hover {
                color: $brand-primary;
            }
        }
        p {
            margin-bottom: 5px;
        }
    }
    .call-to-action {
        margin-bottom: 30px;
        text-align: center;
        padding: 75px 0;
        background-size: cover;
        background-position: center;
        position: relative;
        &:before {
            background-color: $black;
            position: absolute;
            content: '';
            display: block;
            z-index: 0;
            top: 0;
            left:0;
            height: 100%;
            width: 100%;
            opacity: .4;
        }
        h2 {
            @extend %font-h2;
            color:$white;
        }
        h2,a {
            position: relative;
            z-index: 1;
        }
    }

    .form-column {
        @include breakpoint(small only){
            margin-top: 30px;
        }
    }    

    .gform_confirmation_message_1 {
        color: $white;
        font-weight: bold;
        font-size: 19px;
    }
}