.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}

@include b(header){

    

    @include m(main){
        background-color: transparent;
        position: fixed;
        z-index: 99;
        top:0;
        left:0;
        width:100%;
        transition: padding .35s ease-out, background-color .35s ease-out;
        .row {
            max-width: 78rem;
        }
        @include breakpoint(small only){
            background-color: rgba(0,0,0,0.8);
        }
        @include breakpoint(medium){
            padding: 15px 0;
        }
        @include breakpoint(large){
            padding: 30px 0;
        }
        @include e(title-bar){
            @extend .title-bar;
            @include breakpoint(small only){
                width: 100%;
                padding: 1rem .5rem;
                position: relative
            }
            img {
                @include breakpoint(small only){
                    max-width: 175px;
                }
            }
            button {
                position: absolute;
                right: .5rem;

            }
        }

        @include e(title-bar-title){
            @extend .title-bar-title;
        }

        @include e(top-bar){
            @extend .top-bar;
            width: 100%;
            background-color: transparent;
            ul {
                background-color: transparent;
            }
        }

        @include e(top-bar-left){
            @extend .top-bar-left;
            img {
                max-width: 250px;
                width: 100%;
                @include breakpoint(medium down){
                    max-width: 175px;
                }
            }
        }

        @include e(top-bar-right){
            @extend .top-bar-right;
            a {
                @extend %font-nav-link;
            }
            li {
                @include breakpoint(small only){
                    width: 100%;
                }
                &.current_page_item {
                    a {
                        color: $brand-primary;
                    }
                }
            }
        }

        @include e(dropdown-menu){
            @extend .menu;
            @extend .dropdown;
        }
    }

    @include m(bg-color){
        background-color: rgba(0,0,0,0.8);
        @include breakpoint(medium){
            padding: 0 0;
        }
    }

}