.home-layout {
    background-color: $black;
    overflow: hidden;
    @include breakpoint(medium){
        // padding-top: 140px;
    }
    &__intro {
        position: relative;
        margin-bottom: 75px;
        @include breakpoint(medium){
            // padding: 100px 0;
        }
        .row {
            // position: relative;
            // max-width: 1215px;
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
            .owl-item {
                .item {
                    height: 100vh;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
        h1 {
            @extend %font-h1;
        }
        h3 {
            @extend %font-h4;
            color: $white;
        }
        a {
            @extend .button-type--main;
        }
        .content-block {
            // position: relative;
            z-index: 1;
            @include centerer;
            width: 100%;
            max-width: 960px;
            text-align: center;
        }
        .image-block {
            overflow: hidden;
            @include breakpoint(medium){
                position: absolute;
                right: 0;
                top: -100px;
                z-index: 0;
            }
            span {
                @include breakpoint(medium){
                    position: absolute;
                }
            }
            img {
                position: relative;
                z-index: 0;
                margin-right: -50px;
            }
        }
        .owl-carousel {
            .item {
                position: relative;
                padding: 50px 0;
                @include breakpoint(medium){
                    padding: 100px 0;
                }
            }

            .image-block {
                @include breakpoint(medium){
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }

    &__about {
        text-align: center;
        margin-bottom: 75px;
        h2 {
            @extend %font-h2;
            color: $white;
        }
        p {
            @extend %font-h4;
            color: $white;
        }
    }

    &__focus {
        position: relative;
        z-index: 1;
        &:after {
            @include centerer;
            content:'';
            top: auto;
            bottom: -150px;
            width: 1920px; 
            height: 0; 
            border-top: 100px solid $black;
            border-left: 960px solid transparent;
            border-right: 960px solid transparent;
        }
        .column {
            text-align: center;
            @include breakpoint(small only){
                margin-bottom: 30px;
            }
            .icon {
                margin-bottom: 20px;
                &:before {
                    @include breakpoint(medium){
                        content: '';
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        margin-right: -0.25em;
                    }
                }
            }
            img {
                max-width: 70px;
                vertical-align: middle
            }
            h2 {
                @extend %font-sub-title;
            }
            p {
                color: $white;
            }
        }
        .row {
            &:first-child {
                padding-bottom: 50px;
            }
        }
    }

    &__testimonials {
        // 730 height
        background-size: cover;
        background-position: center;
        @include breakpoint(large){
            background-attachment: fixed;
        }
        .row {
            height: 730px;
        }
        .item {
            text-align: center;
            p {
                @extend %font-testimonial;
                color: $white;
            }
            .byline {
                @extend %font-h3;
            }
        }
    }

    &__case-study {
        .intro {
            padding: 75px 0 60px;
            text-align: center;
            h2,p {
                color: $white;
            }
            h2 {
                @extend %font-h2;
            }
            p {
                @extend %font-h4;
            }
        }
        .retina {
            max-width: 2840px;
            .column {
                position: relative;
                padding: 0;
               
            }
            img {
                position: relative;
                z-index: 0;
            }
            a {
                display: block;
                text-align: center;
                &:hover {
                    &:before {
                        opacity: 0;
                    }    
                }
                &:before {
                    background: $black;
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    display: block;
                    opacity: .5;
                    transition: opacity .35s ease-out;
                    
                }
            }
            .info {
                @include centerer;
                z-index: 2;
                span {
                    display: block;
                }
            }
            .title {
                @extend %font-h3;
                color:$white;
            }
            .type {
                color: $white;
                @extend %font-h4;
            }
        }
        &--work {
            padding-bottom: 0 !important;
        }
    }
}