.default-page {
    padding-bottom: 25px;

    .page-template-tmpl-work & {
        padding-bottom: 0;
    }
    h2 {
        @extend %font-h2;
        color: $black;
    }
    h3 {
        @extend %font-h3;
    }
    h4 {
        @extend %font-h4;
    }
    section {
        padding-bottom: 75px;
    }
    //header
    &__header {
        position: relative; 
        overflow: hidden;
        margin-bottom: 75px;
        @include breakpoint(medium){
            height: 425px;
        }
        @include breakpoint(large){
            height: 650px;
        }
        @media only screen and (min-width: 1921px) {
            height: 750px;
        }
        .featured-img {
            z-index: 0;
            @include breakpoint(medium){
                @include centerer;
            }
            @include breakpoint(medium){
                min-width: 1200px;
            }
            @include breakpoint(large){
                min-width: 1920px;
            }
            @media only screen and (min-width: 1921px) {
                min-width: 2800px;
            }
        }
        h1 {
            @include centerer;
            @extend %font-h1;
            z-index: 1;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            line-height: 1;
        }
    }

    // basic
    &__basic-copy {
        p {
            strong {
                @extend %font-body-plus;
                text-transform: uppercase
            }
         }

    }

    //enhanced-intro
    &__enhanced-intro {
        h2 {
            font-size: rem-calc(35);
            margin-bottom: 0;
        }
        h3 {
            color: $brand-primary;
            margin-bottom: 25px;
            font-size: rem-calc(20);
            line-height: 1;
        }
    }

    //form
    &__form {
        .validation_error {
            text-align: center;
            margin-bottom: 20px;
        }
        .gform_wrapper {
            .gform_body {
                .gform_fields {
                    @include flex-grid-row();
                }
                input,
                textarea {
                    @extend %font-h4;
                    margin-bottom: 0;
                }
                label {
                    display: none;
                }
            }
            .gform_footer  {
                .gform_button {
                    @extend %font-h4;
                    color:$black;
                    background-color: $brand-primary;
                    padding: 18px;
                    min-width: 275px;
                    margin-bottom: 0;
                    z-index: 1;
                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
        .gform_confirmation_message {
            color: $black;
            font-weight: bold;
            font-size: 19px;
        }
    }



    // team members
    &__team-members {
        padding-bottom:45px;
        .picture {
            padding-bottom: 30px;
        }
        .name {
            font-size: rem-calc(35);
            margin-bottom: 0;
        }
        .bio {
            h2 {
                color: $brand-primary;
                margin-bottom: 10px;
                font-size: rem-calc(25);
                line-height: 1;
            }
        }
        .column {
            margin-bottom: 30px;
        }
    }

    // cta
    &__cta {
        text-align: center;
    }

    // left right full
    &__img {
        padding-bottom: 20px !important;
        @include breakpoint(medium){
            padding-bottom: 30px !important;
        }
        &--normal {
            padding-bottom: 75px !important;
        }
    }

    // video
    &__video {
        padding-bottom: 20px !important;
        @include breakpoint(medium){
            padding-bottom: 30px !important;
        }
        .mejs-controls {
            opacity: 0;
        }
        .mejs-overlay-button {
            background-color: #000;
            border-radius: 50%;
            overflow: hidden;
        }
        &--normal {
            padding-bottom: 75px !important;
        }
    }
}