.default-page {

    &--blog {
        article {
            margin-bottom: 50px;
            h2 {
                a {
                    color: $brand-primary;
                    transition: color .35s ease-out;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }

}